:root {
    --background-color: rgba(20, 23, 25, 0.98);
    --color: rgb(20, 23, 25);
    --link-color: white;
    --shadow-color: white;
    --second-background-color: white;
}

body,
#navbar ul { 
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
#navbar {
    position: sticky;
    top: 0;
    left: 0;
    text-align: right;
    padding: 30px;
    background-color: var(--background-color, inherit);
    box-shadow: 0 0 1px var(--shadow-color, inherit);
}
#navbar ul li { display: inline-block; }
a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--link-color, inherit);
}


#welcome-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background/Landscape-Mountain.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color, inherit);
    font-size: larger;
    text-align: center;
}
#projects {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5% 2%;
    background-color: var(--background-color, inherit);
}
.project-tile {
    width: 300px;
    border: 1px var(--shadow-color, inherit) solid;
    border-radius: 2px;
    margin: 30px auto;
    
}
.project-tile img {
    width: 95%;
    padding: 10px;
}
.project-tile div {
    padding: 10px;
    border-top: 1px var(--shadow-color, inherit) solid;
    text-align: center;
}
#projects > div:last-child {
    width: 100%;
    display: flex;
    margin: 50px auto;
}
button {
    font-family: inherit !important;
    border-color: var(--link-color, inherit);
    border-radius:  50px 50px 50px 0;
    padding: 15px 20px;
    background-image: url(../images/background/Landscape-Mountain.jpg);
    background-size: 150px;
    margin: auto;
}
button > a { color: var(--color, inherit); }
#contact {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--second-background-color, inherit);
    color: var(--color, inherit);
    text-align: center;
}
#link-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
}

footer {
    padding: 15px;
    background-color: var(--background-color, inherit);
    color: var(--shadow-color, inherit);
}

@media (min-width: 600px) {
    :root {
        --background-color: white;
        --color: white;
        --link-color: #495863;
        --shadow-color: #0000007a;
        --second-background-color: rgba(0, 0, 0, 0.8);
    }
}